<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./favicon %>
    <!-- <script src='js/JsBarcode.all.min.js'></script> -->
    <style>
        
    </style>
  </head>
<body>
    <div>
        <div>
            <%= s %>
        </div>
        <img src=<%= s %> alt="">
    </div>
</body>
</html>
