<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./favicon %>
    <!-- <script src='js/JsBarcode.all.min.js'></script> -->
    <style>
        .wrap-del{
            width:500px;
            margin:0 auto;
        }
    </style>
  </head>
<body>
    <div class='wrap-del'>
        <div>
            机构：<input type="text">
        </div>
        <div>
            from：<input type="text">
        </div>
        <div>
            <button id='qrcode'>
                生成
            </button>
        </div>
    </div>
    <script>
        $('#qrcode').click(()=>{
            $.ajax({
                url:'qrcode',
                method:'get',
                success:(data)=>{
                    console.log(data)
                }
            })
        })
    </script>
</body>
</html>
