<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./favicon %>
    <!-- <script src='js/JsBarcode.all.min.js'></script> -->
    <style>
        .wrap-del{
            width:500px;
            margin:0 auto;
        }
    </style>
  </head>
<body>
    <div class='wrap-del'>
        <div>
            机构：<input type="text">
        </div>
        <div>
            from：<input type="text">
        </div>
        <input type="file" class='ipt' name='list'>读取excel文件
        <!-- <div>
            <button id='qrcode'>
                生成
            </button>
        </div> -->
    </div>
    <script>
        $('.ipt').change(function(file){
            // $('.a').show()
            // $('#result').val('')
            const files = file.currentTarget.files[0]
            var formData = new FormData()
            formData.append('file', files)
            $.ajax({
                url:'http://localhost:3100/qrcode',
                type:'post',
                data:formData,
                processData:false,
                // beforeSend: function( xhr ) {  
                //     xhr.setRequestHeader('X-Requested-With', {toString: function(){ return ''; }});  
                // },  
                contentType: false,  
                success:function(res){
                    // $('.a').hide()
                    // $('#result').val(res)
                    // $('.len').html(`<span style='color:#f00;font-size:20px'>${JSON.parse(res).length}</span>条数据`)
                    console.log(`生成${res}`)
                }
            })
        })
        $('#qrcode').click(()=>{
            $.ajax({
                url:'qrcode',
                method:'get',
                success:(data)=>{
                    console.log(data)
                }
            })
        })
    </script>
</body>
</html>
