<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<% include ./favicon %>
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
<style>
    .asd{
        position:relative;
        width:100px;
        height:50px;
        background: #2288ff;
        color:#fff;
        line-height: 50px;
        text-align: center
    }
    .ipt{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        outline: none;
        background-color: transparent;
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
        width:100%;
    }
    .btns-list .btn{
        padding:10px;
        background: #2288ff;
        color:#fff;
        display: inline-block
    }
    .a{
        display: none;
        border:20px solid #2288ff;
        border-radius:50%;
        border-left-color: transparent;
        border-right-color: transparent;
        animation:identifier 500ms linear infinite;
        transform-origin: center center
    }
    @keyframes identifier {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
            
        }
    }
</style>
</head>
<body>
<div>
    <div style='width:800px;margin:0 auto'>
        <form action="/jsList" method="post" enctype="multipart/form-data" onsubmit = "return false">
            <div class='asd'>
                <input type="file" class='ipt' name='list'>读取excel文件
            </div>
        </form>
        <div style='position:relative'>
            <div style='position: absolute;top:36%;left:50%;transform: translate(-50%,-50%);' class='a'></div>
            <textarea style='width:100%' name="" id="result" cols="30" rows="10"></textarea>
            <div class='len'></div>
        </div>
        <div class='btns-list'>
            <a class='btn' href="./pdf/准考证号.pdf">下载山东准考证</a>
            <a class='btn' href="./pdf/座位号.pdf">下载山东条形码</a>
            <a class='btn' href="./pdf/江苏.pdf">下载江苏条形码</a>
        </div>
    </div>
    <br>
</div>
</body>
<script>
    $('.ipt').change(function(file){
        $('.a').show()
        $('#result').val('')
        const files = file.currentTarget.files[0]
        var formData = new FormData()
        formData.append('file', files)
        $.ajax({
            url:'http://localhost:3100/jsList',
            type:'post',
            data:formData,
            processData:false,
            // beforeSend: function( xhr ) {  
            //     xhr.setRequestHeader('X-Requested-With', {toString: function(){ return ''; }});  
            // },  
            contentType: false,  
            success:function(res){
                $('.a').hide()
                $('#result').val(res)
                $('.len').html(`<span style='color:#f00;font-size:20px'>${JSON.parse(res).length}</span>条数据`)
            }
        })
    })
</script>
</html>
