<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <a href="./pdf/准考证号.pdf">下载准考证号</a>
        <a href="./pdf/座位号.pdf">下载座位号</a>
    </div>
  </body>
</html>
